.table-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 3rem;
    .wrapper{
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #b3b3b3;
        color: #3e3e3e;
        padding: 1rem;
        &:hover{
            opacity: .9;
            transform: scale(1.1);
        }
        button{
            background-color: #3e3e3e;
            color: white;
            cursor: pointer;
            font-size: .8rem;
            padding: .5rem;
            border-radius: 5px;
            margin-top: .5rem;
            &:hover{
                opacity: .3;
                transform: scale(1.1);
            }
        }

    }
   
}
.hide{
    display: none;
}