/*Variables*/
$color__typography: #454545;

/*Clases*/
.container {
  max-width: 75%;
  margin: 0 auto;
}
/*Header*/
header {
  nav {
    .main-nav {
      padding-top: 1rem;
      display: flex;
      justify-content: space-between;
      ul {
        display: flex;
        li {
          list-style: none;
          padding-left: 1rem;
          .main-nav__logo {
            width: 100px;
          }
          a {
            font-size: 1rem;
            color: $color__typography;
          }
        }
      }
    }
  }
}
