nav{
    background:transparent !important;
    display: block;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}
.menu ul{
    display: flex;
    align-items: center;
    width: 80%;
    
}
.menu ul li:nth-of-type(4){
    flex-grow:1;
}
.menu ul li a{
    text-decoration: none;
    line-height: 17px;
    font-size:17px;
    color: black;
    padding-left: 1em;
}
.menu ul li a span{
    font-family: 'Roboto', sans-serif;
}
.menu ul li a img{
    width: 90px;
    height: 98px;
}
.main{
    background-image: url("https://www.bmw.es/content/dam/bmw/marketES/bmw_es/PublicPools/Teaser-Pool/Large-Teasers/Large%20Teaser_%20Stock%20locator.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    margin-right:4em;
    padding-top: 40%;
}
.main h1{
  

    color: white;
    font-family: 'Roboto', sans-serif;

}