
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2em;
}
nav ul{
    display: flex;
    width: 80%;
}
nav ul li:nth-of-type(4){
    flex-grow:1;
}
nav ul li a img{
    width: 90px;
    height: 98px;
}