.logo{
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}
.header{
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    background: white;
}
.breadcrump{
    list-style: none;
}
.breadcrump li{
    display: inline-block;
}

.breadcrump li a{
    text-decoration: none;
    color: #d6d6d6;
    margin-left:1em;
}
.breadcrump li:last-child a {
    color: black;
}
.gallery-wrapper{
    display:flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    display: grid;
    grid-template-columns: 310px 310px 310px 310px;
    grid-gap: 40px;
    padding-top: 10em;
}
.gallery div img{
    width:310px;
}
.product-info{
    text-align: center;
    padding-top: 12px;

}
.product-info .product{
    font-weight: 300;
    padding-top:12px;
    letter-spacing: 0.7px;
 
}
.product-info .price{
    font-weight: bold;   
    font-size: 16px;
    padding-top: 12px;
}
.product-info .price small{
    font-size: 12px;
}
.product-info .options a{
    color: #d6d6d6;
    text-decoration: none;

}
.product-info .options{
    padding-top: 10px;
}
nav ul{
    position: fixed;
    padding-top: 2em;
    padding-left: 2em;
}
nav ul li:nth-of-type(1){
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    padding-bottom:1em;
}
