.logo{
    width: 100px;
    height: auto;
}
.header{
    text-align: center;
}
.breadcrump{
    list-style: none;
}
.breadcrump li{
    display: inline-block;
}

.breadcrump li a{
    text-decoration: none;
}
.breadcrump li a:nth-of-type(1){
    color: #d6d6d6;
}